<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "5.1.0">
    

<name>Shi'hing Kung Fu</name>

<description>
Shi'hing school of Kung Fu Official App.
</description>

<author href="https://shihingkungfu.co.uk" email="michael@shihingkungfu.co.uk">
Michael Hoban
</author>

<gap:splash src="splash.png" />

</widget>
